*.pyc
# *.hdf5
# *.h5
# *.csv
*.mov
*.mp4
*.gif
*.log
*.o
*.h
*.out
*.aux
*.DS_Store
plottingCode/.DS_Store
plottingCode/.DS_Store
.DS_Store
plottingCode/.DS_Store
.DS_Store
.DS_Store
.DS_Store
plottingCode/.DS_Store
plottingCode/Fig_4_and_Fig_5_and_Fig_6/.ipynb_checkpoints/make_figure_4_5_and_6-Only_Masses-checkpoint.ipynb
plottingCode/Fig_7_and_Fig_8_and_Fig_9/.ipynb_checkpoints/make_Fig_7_and_Fig_8_and_Fig_9-checkpoint.ipynb
demo_read_hdf5_file/.ipynb_checkpoints/reading_in_basic_parameters_hdf5_datafile-Copy1-checkpoint.ipynb
demo_read_hdf5_file/reading_in_basic_parameters_hdf5_datafile-Copy1.ipynb
plottingCode/.DS_Store
.DS_Store
plottingCode/.DS_Store
.DS_Store
plottingCode/.DS_Store
plottingCode/.DS_Store
.DS_Store
demo_read_hdf5_file/COSMIC_Scripts_DCO_data/.ipynb_checkpoints/demo_plotting_BHBH_distributions_across_redshifts-checkpoint.ipynb
demo_read_hdf5_file/.ipynb_checkpoints/demo_high_school_project-Copy1-checkpoint.ipynb
demo_read_hdf5_file/.ipynb_checkpoints/demo_plotting_BHBH_distributions_across_redshifts-checkpoint.ipynb
demo_read_hdf5_file/.ipynb_checkpoints/demo_high_school_project-checkpoint.ipynb
demo_read_hdf5_file/demo_formation_channels_several/.ipynb_checkpoints/Demo_formation_channel_scripts-checkpoint.ipynb
demo_read_hdf5_file/.ipynb_checkpoints/demo_plotting_Metallicity_distributions_GWsources-checkpoint.ipynb
